*{
    margin: 0;
    padding: 0;
}

:root{
    --fs-title:2.25rem;
    --fs-checkout-details:1.125rem;
    --fs-label-txt:0.75rem;
    --fs-countryClass:1rem;
    --fs-input-details-info:1rem;
    --fs-btn-txt:1rem;
    --fs-symbol-design-kybrd-down-arrow:1.5rem;

    --padding-label-txt:0.436rem;
    --padding-bottom-title:3.184rem;
    --padding-bottom-checkout-details:0.934rem;
    --padding-top-checkout-details:3.626rem;
    --padding-left-info-wrapper:0.875rem;
    --padding-top-user-info2:1.251rem;
    --padding-top-user-info3:0.814rem;
    --padding-top-divContainer-user-info1:0.813rem;
    --padding-top-divContainer-user-info2:0.813rem;
    --padding-right-divContainer-user-info1:1.938rem;
    --padding-top-chkbox-wrapper:1.249rem;
    
    --margin-right-chkbox:0.688rem;
    --margin-symbol-design-kybrd-down-arrow-left:1.063rem;

    --user-info-width:29.063rem;
    --user-info-height:4.874rem;
    --user-info4-info5-width:13.563rem;
    --user-info4-info5-height:4.876rem;
    --info-wrapper-width:29.063rem;
    --info-wrapper-height:3.5rem;
    --info-wrapper-half-width-width:13.563rem;
    --info-wrapper-half-width-height:3.5rem;
    --input-details-info-half-width-width:7.125rem;
    --input-details-info-half-width-height:1.25rem;
    --input-details-info-half-width5-width:9.125rem;
    --input-details-info-half-width5-height:1.25rem;
    --symbol-design-kybrd-down-arrow-left-width:1.313rem;
    --symbol-design-kybrd-down-arrow-left-height:1.313rem;
    --countryClass-width:7.125rem;
    --countryClass-height:1.25rem;
    --input-details-info-width:9.75rem;
    --input-details-info-height:1.25rem;
    --btn-yellow-width:10.375rem;
    --btn-yellow-height:3.375rem;
    --btn-yellow-div-width:30rem;

}

@media (width <1000px){
    :root {
        --fs-title:1.5rem;
        --fs-checkout-details:0.875rem;
        --fs-label-txt:0.625rem;
        --fs-countryClass:0.75rem;
        --fs-input-details-info:0.75rem;
        --fs-symbol-design-kybrd-down-arrow:1rem;

        --padding-label-txt:0.327rem;
        --padding-bottom-title:3.226rem;
        --padding-bottom-checkout-details:0.699rem;
        --padding-top-checkout-details:2.815rem;
        --padding-left-info-wrapper:0.734rem;
        --padding-top-user-info2:1.033rem;
        --padding-top-user-info3:0.704rem;
        --padding-top-divContainer-user-info1:0.703rem;
        --padding-top-divContainer-user-info2:0.701rem;
        --padding-right-divContainer-user-info1:1.455rem;
        --padding-top-chkbox-wrapper:1.081rem;
        
        --margin-right-chkbox:0.486rem;
        --margin-symbol-design-kybrd-down-arrow-left:0.833rem;

        --user-info-width:21.828rem;
        --user-info-height:3.569rem;
        --user-info4-info5-width:10.186rem;
        --user-info4-info5-height:3.569rem;
        --info-wrapper-width:21.828rem;
        --info-wrapper-height:2.535rem;
        --info-wrapper-half-width-width:10.186rem;
        --info-wrapper-half-width-height:2.535rem;
        --input-details-info-half-width-width:5.351rem;
        --input-details-info-half-width-height:0.939rem;
        --input-details-info-half-width5-width:6.854rem;
        --input-details-info-half-width5-height:0.939rem;
        --symbol-design-kybrd-down-arrow-left-width:0.938rem;
        --symbol-design-kybrd-down-arrow-left-height:0.938rem;
        --countryClass-width:5.351rem;
        --countryClass-height:0.939rem;
        --input-details-info-width:7.323rem;
        --input-details-info-height:0.939rem;
        --btn-yellow-div-width:22.5rem;

    }
}

.container{
    width: min(100% , 1440px);
    /* height: min(100% , 1140px); */
    height: 1140px;
    display: flex;
    margin: auto;
    border: 2px solid brown;
}
.flexClass{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 50%;
    border: 2px solid blueviolet;
}
.title{
    font-family: Montserrat;
    font-size: var(--fs-title);
    font-weight: 600;
    letter-spacing: 0em;
    padding-bottom: var(--padding-bottom-title);
}
.checkout-details{
    font-family: Montserrat;
    font-size: var(--fs-checkout-details);
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    padding-top: var(--padding-top-checkout-details);
    padding-bottom: var(--padding-bottom-checkout-details);
}
.user-info{
    display: flex;
    flex-direction: column;
    width: var(--user-info-width);
    height: var(--user-info-height);
}

.user-info2{
    padding-top: var(--padding-top-user-info2);
}
.user-info3{
    padding-top: var(--padding-top-user-info3);
}
.divContainer-user-info1{
    padding-top: var(--padding-top-divContainer-user-info1);
    padding-right: var(--padding-right-divContainer-user-info1);
}
.divContainer-user-info2{
    padding-top: var(--padding-top-divContainer-user-info2);
}
.divContainer-user-info1,
.divContainer-user-info2{
    width: var(--user-info4-info5-width);
    height: var(--user-info4-info5-height);
    /* border: 2px solid red; */
}

.info-wrapper{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: var(--info-wrapper-width);
    height: var(--info-wrapper-height);
    border-radius: 12px;
    border: 1px solid #828282;
    padding-left: var(--padding-left-info-wrapper);
}

.info-wrapper span{
    margin-right: 1rem;
}

.info-wrapper-half-width{
    width: var(--info-wrapper-half-width-width);
    height: var(--info-wrapper-half-width-height);
}

/* .input-details-info-half-width1{
    width: var(--input-details-info-half-width-width);    
    height: var(--input-details-info-half-width-height);
} */
/* .input-details-info-half-width2{
    width: var(--input-details-info-half-width5-width);    
    height: var(--input-details-info-half-width5-height);
} */
.input-details-info-half-width{
    width: var(--input-details-info-half-width5-width);    
    height: var(--input-details-info-half-width5-height);
}
select{
    outline: none;
    border: 0;
    appearance: none;
}
.countryClass{
    font-family: Montserrat;
    font-size: var(--fs-countryClass);
    width: var(--countryClass-width);
    height: var(--countryClass-height);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
}
.countryClass:focus,
.countryClass:hover{
    outline: none;
}

input{
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}

.input-details-info{
    border-style: none;
    font-family: Montserrat;
    font-size: var(--fs-input-details-info);
    width: var(--input-details-info-width);
    height: var(--input-details-info-height);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
}

.name-highlight::-webkit-input-placeholder{
    color: #333333;
}

.symbol-design{
    color: #828282;
}
.symbol-design-kybrd-down-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--margin-symbol-design-kybrd-down-arrow-left);
    width: var(--symbol-design-kybrd-down-arrow-left-width);
    height: var(--symbol-design-kybrd-down-arrow-left-height);
    font-size: var(--fs-symbol-design-kybrd-down-arrow);
    border-radius: 4px;
    background-color: #E0E0E0;
}
.label-txt{
    font-family: Montserrat;
    font-size: var(--fs-label-txt);
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color: #4F4F4F;
    padding-bottom: var(--padding-label-txt);
}

.divContainer{
    display: flex;
    align-items: center;
    width: 31rem;
}

.chkbox-wrapper{
    display: flex;
    padding-top: var(--padding-top-chkbox-wrapper);
}
.chkbox{
    margin-right: var(--margin-right-chkbox);
    width: 21px;
    height: 21px;
    border: 1px solid #828282;
    border-radius: 4px;
    cursor: pointer;
}
.chk-txt{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color:#4F4F4F;
}
.btn-yellow-div{
    display: flex;
    justify-content: flex-end;
    width: var(--btn-yellow-div-width);
    padding-top: 23px;
    
}
.btn-txt{
    font-family: Montserrat;
    font-size: var(--fs-btn-txt);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;
}
.btn-yellow-div button{
    width: var(--btn-yellow-width);
    height: var(--btn-yellow-height);
    border-radius: 12px;
    background-color: #F2994A;
    border: 0;
}

        /* right */

.cart-grid{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.325rem;
    border: 2px solid red;
}
.cartImge{
    justify-self: end;
    width: 134.20564316218895px;
    height: 136.27360581579214px;
    border-radius: 13px;
    color: #c4c4c4;
}
.product-name{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E5150;
}
.price-actual{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #F2994A;
}
.price-strikethrough{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E5150;
    text-decoration: line-through;
}
.qantity{
    margin-top: 24.2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 134.25401306152344px;
    height: 52px;
    border: 1px solid #828282;
    border-radius: 12px;
}
.product-name-div{
    width: 162.51802118933986px;
    height: 22.207431869660436px;
    /* angle: 0.02 deg; */
}
.price-amount-div{
    padding-top: 6px;
    width: 9rem;
    height: 29.273431878725866px;
    rotate: 0.02 deg;

}
.symbol-background{
    width: 21.197999954223633px;
    height: 21.197999954223633px;
    border-radius: 4px;
    background-color: #E0E0E0;
}
.qantity-number{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}
